[submodule "server"]
	path = server
	url = git@github.com:GabrielBRS/chayut-sareior-server.git
[submodule "client"]
	path = client
	url = git@github.com:GabrielBRS/chayut-sareior-client.git
[submodule "database"]
	path = database
	url = git@github.com:GabrielBRS/chayut-sareior-database.git
[submodule "bigdata"]
	path = bigdata
	url = git@github.com:GabrielBRS/chayut-sareior-bigdata.git
[submodule "machine-learning"]
	path = machine-learning
	url = git@github.com:GabrielBRS/chayut-sareior-machine-learning.git
[submodule "mlops"]
	path = mlops
	url = git@github.com:GabrielBRS/chayut-sareior-mlops.git
[submodule "devops"]
	path = devops
	url = git@github.com:GabrielBRS/chayut-sareior-devops.git
[submodule "iac"]
	path = iac
	url = git@github.com:GabrielBRS/chayut-sareior-infraestrutura-as-code.git
